<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Review</title>
  <!-- container for metadata (is not displayed on the page)
  title, styles(css), link, scripts, meta and others
  -->
</head>
<body>

<!--whatever we see in the page-->
   <b>Welcome to Java Developer Course</b>

<h1 align="center" style="color: blueviolet">Spring boot</h1>
<h2>Spring boot</h2>
<h3>Spring boot</h3>
<h4>Spring boot</h4>
<h5>Spring boot</h5>

<img src="sprngboot.png" alt="Spring boot image">

<ul>
    <li>Java</li>
    <li>MCV</li>
    <li>ORM</li>
</ul>

<a href="https://cydoe.com">Cydeo</a>
<br>
<br>
<table>
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Salary</td>
    </tr>
    <tr>
        <td>Mike</td>
        <td>Smith</td>
        <td>120000</td>
    </tr>

</table>
<br>
<label>Username:</label>
<input type="text" name="username">
<br>
<label>Password:</label>
<input type="password">
<br>
<label>Enter your comment here</label>
<textarea name="comments"></textarea>
<br>
<br>
<label>Please select your gender</label>
<input type="radio" name="gender" value="male">Male
<input type="radio" name="gender" value="female">Female
<input type="radio" name="gender" value="other">Other

<br>
<br>
<label> Please select your favorite class</label>
    <input type="checkbox" name="course" value="Spring">Spring
    <input type="checkbox" name="course" value="Java">Java
    <input type="checkbox" name="course" value="Data Structure">Data Structure

<br>
<label> Select your program</label>
<select>
    <option value="us_sdet">US SDET</option>
    <option value="eu_sdet">EU SDET</option>
    <option value="us_jd">US JD</option>
    <option value="us_al">US AL</option>
</select>

<form action="#" method="get" >
    Firstname: <input type="text" name="first_name">
    <br>
    Lastname: <input type="text" name="last_name">
    <br>
    <input type="button" value="submit">

</form>

<div style="background-color: aquamarine">
    <h3>JAVA DEVELOPER COURSE</h3>
    <ul>
        <li>SPRING</li>
        <li>DS</li>
    </ul>

</div>


</body>
</html>